body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 212, 255, 0.23) 100%
  );
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(
      100deg,
      rgb(36, 36, 36) 0%,
      rgb(1, 54, 65) 100%
    );
  }
}

.backdrop-overlay {
  backdrop-filter: blur(0.55em);
  -webkit-backdrop-filter: blur(0.55em);
}

.backdrop-blur {
  backdrop-filter: blur(0.55em);
}

/* if backdrop support: very transparent and blurred */
@supports (
  (-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))
) {
  .backdrop-blur {
    -webkit-backdrop-filter: blur(0.55em);
    backdrop-filter: blur(0.55em);
  }
}
